include CHANGELOG.md README-quickstart.md SECURITY.md ctt.spec ctt.yaml.example .cttignore.example
recursive-include docs *.md
recursive-include scripts *.md *.py *.sh
recursive-include tests *.md *.py
